<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="test" value="test"/>
		<add key="devUrl" value="https://localhost:5001"/>
		<add key="testerToken" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWlthcy9uYW1laWRlbnRpZmllciI6ImZiUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWlthcy9uYW1laWRlbnRpZmllciI6ImzZjZjg3LTk5Y2YtNGM4OS1iZmM4LTUwZWZkNmViMzE1OCIsImh0dHA6Ly9zY2hlbWFzLnhtbHNvYXAub3JnL3dzLzIwMDUvMDUvaWRlbnRpdHkvY2xhaW1zL25hbWUiOiJ0ZXN0MUBtYWlsLnJ1IiwianRpIjoiZjc3NDJmZWQtNmU2My00MzM1LWJhYjYtOTc2YTMxM2FkZGFhIiwiVW5pcXVlUGFyYW1ldGVyIjoiZ0JJZUFqZUNTdG53S3NUdiIsImh0dHA6Ly9zY2hlbWFzLm1pY3Jvc29mdC5jb20vd3MvMjAwOC8wNi9pZGVudGl0eS9jbGFpbXMvcm9sZSI6IlVzZXIiLCJuYmYiOjE2MjAxNDI0NDAsImV4cCI6MTYyMDE3ODQ0MCwiaXNzIjoiU2hvcFBsYXRmb3JtQXBpIiwiYXVkIjoiaHR0cDovL2xvY2FsaG9zdDozMDAwLGh0dHBzOi8vbG9jYWxob3N0OjMwMDAsaHR0cDovL2xvY2FsaG9zdDo4MDgwLGh0dHBzOi8vbG9jYWxob3N0OjgwODAsaHR0cHM6Ly9sb2NhbGvc3Q6NDQzOTAsaHR0cHM6Ly9sb2NhbGhvc3Q6NDQzNzAsaHR0cDovL2xvY2FsaG9zdDo1MDAwIn0.ZUf0Nss9yGCu2nIU8jK6j7Av_LQSiXTv45p2X99XOGU"/>
		<add key="connectionString" value="mongodb://localhost:27017"/>
	</appSettings>
</configuration>